body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;/* we can change font style by using the font-familiy css tag */
	background: #090a0c;/* you can change the background color of body using background css tag */
}

.navbar{
    background-color: black;
    overflow: visible;
    padding: 5px;
}


.list-item{
    display: inline;
    padding: 0rem 0.5rem;
    font-weight: bold;
    text-align: right;
    float: right;
}

.list-item-left{
    display: inline;
    padding: 0rem 0rem;
    font-weight: bold;
}

.link {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: azure;
}
  
.header .header-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header .header-heading{
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 50px;
}
.header span{
    color: rgb(250, 0, 0);
    font: bold;
}
.header p{
    text-align: center;
    color:white;
    font-size: 20px;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.secondary-link{
    border-radius: 0.5rem;
    border: solid 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f12020;
}

.section{
    padding: 1rem;
}

.section h3{
    text-align: center;
    color: white;
}

.section p{
    text-align: center;
}

.row{
    display: flex;  
}

.column{
    flex: 50%;
    color: rgb(197, 24, 24);
}

.footer{
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    padding: 1rem;
    position: sticky;
    margin-top: 4rem;
}